html {
    font-family: 'Open Sans', sans-serif;
  }

  .header {
    background-color: #7EC4F2;
    padding: 150px;
  }

body {
    background-color:  #FFF ;

}

footer{
    background-color:#b15b11;
    position: relative;
    float:bottom;
    padding:100px;
    margin-top:100%;
}

.MittText{
text-align: left;
}

.LogoHem{
  float:left;
}

h1{
    color: #1167b1;
    font-size: 40px;
    font-weight: 100;
    position: relative;
    text-align: center;
}

p{
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    position: relative;
    color: #09495E
    ;
}






  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  .navbar::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



 

  * {
    box-sizing: border-box;
  } 

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    body{
      background-color: pink;
    }

  }
  